<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright {2017} {Aashrey Kamal Sharma}
  ~
  ~    Licensed under the Apache License, Version 2.0 (the "License");
  ~    you may not use this file except in compliance with the License.
  ~    You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~    Unless required by applicable law or agreed to in writing, software
  ~    distributed under the License is distributed on an "AS IS" BASIS,
  ~    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~    See the License for the specific language governing permissions and
  ~    limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.aashreys.walls">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:name=".application.WallsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Sublime.AppTheme.Default"
        tools:replace="android:allowBackup, android:supportsRtl">
        <activity
            android:name=".application.activities.StreamActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".application.activities.CollectionsActivity"/>
        <activity android:name=".application.activities.ImageActivity"/>
        <activity android:name=".application.activities.SettingsActivity"/>
        <activity android:name=".application.activities.OnboardingActivity" />
        <activity android:name=".application.activities.AddCollectionsActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <meta-data
            android:name="com.aashreys.walls.application.GlideConfiguration"
            android:value="GlideModule"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d1d9ded86a522d4ae7651fac61fdd2cba46ccc22"/>
    </application>

</manifest>